@use '../utils/variables' as *;
@use '../base/topography' as *;

@mixin reset-button() {
  @include font-reset-bold;

  cursor: pointer;

  padding: 0.6em 1em;

  border: none;
  border-radius: 0.3rem;

  color: $clr-neutral-very-dark-cyan;
  background-color: $clr-neutral-very-dark-less-cyan;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: $clr-primary-light-cyan;
  }

  &--selected {
    background-color: $clr-primary-strong-cyan;
  }
}
