// Colors

// Primary

$clr-primary-strong-cyan: hsl(172, 67%, 45%);

// Neutral

$clr-neutral-very-dark-cyan: hsl(183, 100%, 15%);
$clr-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
$clr-neutral-grayish-cyan: hsl(184, 14%, 56%);
$clr-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
$clr-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
$clr-neutral-white: hsl(0, 0%, 100%);

// Topography

// Font Family

$ff-space: 'Space Mono', monospace;

// Font Sizes

$fs-root: 1rem;

// Font Weights

$fw-700: 700;

// Screen

// Weights

$max-width-body: 1440px;
$min-width-body: 375px;

// Heights

$min-height-screen: 100dvh;

// Displays

$small-gap: 0.5rem;
$base-gap: 1rem;
$medium-gap: 1.5rem;
$large-gap: 2rem;
$extra-large-gap: 2.5rem;
